header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(74, 74, 187);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}
header > .item{
    margin: 15px;
}
body{
    background: url('../img/bg.jpg');
    overflow: hidden;
}
.arena{
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.meteor, .money, .rocket{
    position: absolute;
    width: 100px;
    height: 100px;
}
.meteor{
    background: url('../img/meteor.png');
    background-size: 100% 100%;
    top: -100px;
    left: 0;
    animation: meteo 10s ease-in-out infinite;
    transition: top 0.2s;
}
.money{
    background: url('../img/money.png');
    background-size: 100% 100%;
    top: -100px;
    left: 0;
}
.rocket{
    top: 80%;
    left: 40%;
    width: 100px;
    height: 200px;
    background: url('../img/rocket.png');
    background-size: 100% 100%;
    transition: left 0.2s;
}

@keyframes meteo{
    from { 
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);

    }
}
.pause, .start{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.562);
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 45%;
    z-index: 12;
}

.pause{
    display: none;
}